<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--开始编号-->
    <add key="StartIndex" value="1"/>
    <!--结束编号-->
    <add key="EndIndex" value="100"/>
    <!--读卡器串口-->
    <add key="ReaderCOM" value="COM2"/>
    <!--药框串口-->
    <add key="BoxerCOM" value="COM1"/>
    <!--读卡器读取结束符-->
    <add key="EndStr" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>